<!DOCTYPE html>
<html>
<head>
  <title>Liste des utilisateurs</title>
</head>
<body>
  <h1>Utilisateurs</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.nom %> - <%= user.age %> ans</li>
    <% }) %>
  </ul>
</body>
</html>
